body {
    height: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    font-family: 'Varela Round',sans-serif;
}

.contenitore {
    position: relative;
    
}

/* ---------------HEADER--------------- */

header {
    display: flex;
    flex-direction: row;
}

/* ---------------NAVBAR--------------- */

.navbar {
    display: flex;
    flex-direction: row;
    padding: 5px;
    top: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(42, 7, 99, 0.281));
}

.navbar img {
    max-width: 300px;
    max-height: 50px;
    padding-top: 10px;
}

.navbar .navbarElements {
    margin: auto;
    
}

.navbar .navbarElements ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: white;
    gap: 100px;
}

.navbar ul li {
    
    transition: 0.5s;
    opacity: 1;
}

.navbar ul li:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* ---------------FAKE TRAILER--------------- */

.fakeTrailer {
    position: relative;
    text-align: left;
    color: white;
}

.fakeTrailer img {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 600px;
}

.fakeTrailer .top-left {
    border-radius: 5px;
    background-color: rgba(77, 77, 77, 0.212);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 16px;
    margin: 5px 20px;
    width: 30%;
    height: 90%;
    
}

.fakeTrailer .top-left h1 {
    display: inline;
    font-size: 100px;
    margin: 10px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.550);
}

.fakeTrailer .top-left h3 {
    display: inline;
    font-size: 40px;
    margin: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.550);
}

.fakeTrailer .top-left p {
    display: inline;
    font-size: 20px;
    width: 20vw;
    margin: 20px 10px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.550);
    line-height: 30px;

}

/* .fakeTrailer .bottom-left {
    background-color: rgba(77, 77, 77, 0.295);
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 30%;
} */

.fakeTrailer .top-left button {
   
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    margin: 20px 30px;
    
}

.fakeTrailer .top-left button:hover {
    cursor: pointer;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.342);
    opacity: 0.8;
}

/* -----------------CARDS----------------*/

.carouselContainer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.carouselContainer .carouselTopTen {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: black;
    align-content: center;
}

.carouselContainer .carouselTopTen h4 {
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
    margin: 20px 25px 0;
}

.carouselContainer .carouselCard {
    width: 300px;
    height: 200px;
    margin: 10px 40px;
}

.carouselContainer .carouselCard img {
    display: flex;
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
    justify-content: center;
    width: 300px;
    
}

.carouselContainer .carouselCard img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.carouselContainer .carouselCard h4 {
    margin: 10px 0;
}

.carouselContainer .carouselCard p {
    display: none;
}


/* ---------------FOOTER--------------- */

footer {
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    position: static;
    bottom: 0;
    height: 90px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(42, 7, 99, 0.281));
}

footer a {
    align-items: center;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    align-items: center;
    margin: 0 auto;
    color: white;
}

/* ---------------RESPONSIVE SMARTPHONES--------------- */

@media (max-width: 500px) {
    .navbar {
        height: auto;
        flex-direction: column;
    }

    .navbar a {
        text-align: center;
    }
    .navbar .navbarElements ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 0;
    }

    .navbar ul li {
        margin-bottom: 25px;
    }
    .navbar img {
        align-items: center;
        margin-bottom: 25px;
    }

    .fakeTrailer {
        display: none;
    }
    
    .carouselContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .carouselContainer .carouselTopTen h4 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }

    .carouselContainer .carouselCard img {
        margin: auto;
        padding: 0;
    }

    footer {
        font-size: 12px;
    }
}

/* ---------------RESPONSIVE TABLETS--------------- */

@media (min-width: 550px) and (max-width: 1024px) {
    .navbar {
        height: auto;
        flex-direction: column;
    }
    
    .navbar a {
        text-align: center;
    }
    
    .navbar .navbarElements ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:0;
    }
    
    .navbar ul li {
        margin-bottom: 25px;
    }
    
    .navbar img {
        align-items: center;
        margin-bottom: 15px;
    }

    .fakeTrailer {
        display: none;
    }

    .carouselContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .carouselContainer .carouselTopTen h4 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
    
    .carouselContainer .carouselCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .carouselContainer .carouselCard img {
        margin: auto;
        padding: 0;
    }
    
    footer {
        font-size: 12px;
    }
}

/*------------------TV SERIES HTML ---------------------*/

.button button {
    background: transparent;
    color: white;
    border-style: none;
    padding: 10px;
    margin: 10px 25px;
    font-size: 20px;
    border-radius: 10px;
}

.button button:hover {
    cursor: pointer;
    background-color: #2a095034;
}


.tvSerieSchedaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    font-family:'Varela Round', sans-serif;
    color: white;
    margin: 35px auto;
}

.tvSerieSchedaWrapper .textWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    height: 100%;
    max-height: 600px;
    padding: 30px 30px;
    
}

.tvSerieSchedaWrapper .textWrapper h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.tvSerieSchedaWrapper a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.tvSerieSchedaWrapper a:hover {
    text-decoration: underline;
}

.tvSerieSchedaWrapper p {
    width: 500px;
    font-size: 20px;
    word-spacing: 3px;
    line-height: 25px;
}

.tvSerieSchedaWrapper .textWrapper h5 {
    margin-top: 5px;
    font-weight: 500;
    word-spacing: 3px;
}

.tvSerieSchedaWrapper img {
    display: flex;
    flex-direction: row;
    width: 400px;
    padding: 30px 30px 40px;
}
